.wrap{
    width:100%;
}
.container{
    width:1200px;
    margin:0 auto;
}
.header{
    height: 100px;
    background-color: red;
}
.header .inner{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 a{
    width:120px;
    display: block;
    padding:14px;
    background-color: blue;
    text-align: center;
}
nav{
    margin-top:50px;
    height:50px;
    margin-right: 25px;
}
nav .pa-menu li{
    float: left;
    position: relative;
}
nav .pa-menu li>a:hover{
    background-color: brown;
}
nav .pa-menu>li>a{
    display: block;
    padding: 14px;
    background-color: cyan;
}
nav .pa-menu li .ch-menu{
    display: none;
    z-index: 100;
    position: absolute;
    left:0;
    top:49px;
    background-color: brown;
}
nav .pa-menu>li>a.active .ch-menu{
    display: block;
}
nav .pa-menu li .ch-menu li a{
    float: none;
    font-size:11px;
    padding:14px;
    display: block;
}
nav .pa-menu li .ch-menu li a:hover{
    background-color: blue;
}

.slider .inner{
    height: 300px;
    position: relative;
    overflow: hidden;
}
/*fade*/
.slider .img-box{
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: 1s;
}
.slider .img-box:first-child{
    opacity: 1;
}

.btn{
    position: absolute;
    width:50px;
    height: 60px;
    top:50%;
    margin-top:-25px;
    line-height: 57px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 100;
    transition: 0.1s;
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
#next{
    right: -50px;
    border-radius: 7px 0px 0px 7px;
}
#previous{
    left:-50px;
    border-radius: 0px 7px 7px 7px;
}
#slider-wrap.active #next{
    right: 0;
}
#slider-wrap.active #previous{
    left:0;
}

.second-section{
    display: flex;
}
.notice, .gallary, .banner{
    float: left;
    width:33.3333%;
}
h2{
    font-weight: bold;
    text-align: center;
    margin-bottom:20px;
}
.notice li{
    margin-bottom:10px;
}
#modal1, #modal2, #modal3, #modal4, #modal5{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:100%;
    height: 100%;
    z-index:101;
    display: none;
}
.modal_content {
    width:300px;
    margin:0 auto;
    padding:20px 10px;
    background:#fff;
    border:2px solid #666;
}
.modal_layer{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:-1;
}
.image-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:3px;
    width:100%;
}
.image-group .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-wrap{
    margin:0 5px;
}

.footer{
    margin-top:50px;
}
.footer .inner{
    display: flex;
    justify-content: space-between;
}
.footer-logo a{
    width:120px;
    display: block;
    padding:14px;
    background-color: blue;
    text-align: center;
}
.f-site{
    width:200px;
    height:50px;
}
.f-site select{
    width:180px;
}